body {
    background-image: url("space.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 500px;
    height: 600px;
    background: rgb(0, 200, 255);
    font-size: 25px;
    border: 5px solid rgb(0, 200, 255);
    position: relative;
    left: 450px;
}

td,
th {
    border: 2px solid rgb(0, 200, 255);
    text-align: center;
}

img {
    width: 300px;
}

.video {
    height: 300px;
    background: black;
    border: 5px solid rgb(0, 200, 255);
}

.song {
    background: black;
    border: 5px solid rgb(0, 200, 255);
}

.habit {
    color: rgb(0, 200, 255);
}